pandas
numpy
seaborn
matplotlib
statsmodels
scipy
openpyxl
pycaret
lightgbm
pmdarima
shap
xgboost
bayesian-optimization
pystan #==2.19.1.1 
prophet
gluonts
mxnet
statsmodels
tensorflow
scikit-learn
tqdm
ipython
ipywidgets>=7.5
notebook
jupyterlab=1.*
klib
sweetviz
pandas_profiling
